version: 2
updates:
  # Update npm/JS dependencies
  - package-ecosystem: "npm"
    directory: "/" 
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"

  # Update GitHub Actions used in workflows
  - package-ecosystem: "github-actions"
    directory: "/" 
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "actions"
